body {
    background-color: rgb(50, 122, 98);
    color: white;
    font: normal 18pt Arial; 
}
div {
    background-color: rgb(81, 244, 193);
    font: normal 19pt Arial;
    color:rgb(0, 0, 0);
    width: 560px;
    height: 300px;
    line-height: 300px;
    text-align: center;
    }